html,
body,
#app,
main {
	height: 100%;
	margin: 0;
}

main {
	display: flex;
	align-items: stretch;
}

#house {
	display: grid;
	grid-template: repeat(9, 1fr) / repeat(5, 1fr);
	gap: 4px;
	background-color: #617694;
	width: fit-content;
	padding: 4px;
	margin: 1em;

	&>.room {
		aspect-ratio: 1;
		background-color: #40649c;
	}
}