html,
body,
#app,
main {
    height: 100%;
    margin: 0;
}

#house {
    display: grid;
    grid-template: repeat(9, 1fr) / repeat(5, 1fr);
    gap: 4px;
    background-color: black;
    position: absolute;
    height: auto;
    width: fit-content;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: 1em;
    padding: 4px;

    &>.room {
        aspect-ratio: 1;
        background-color: blue;
    }
}